* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fff;
  font-family: Helvetica, Arial, sans-serif;
}

#canvas {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #fff;
}

/* Title */
h1 {
  position: absolute;
  bottom: 5%;
  left: 5%;
  font-size: 5vw;
  font-weight: 900;
  text-transform: uppercase;
  color: #000;
  z-index: 10;
}

/* Base triangle */
.triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 90px solid #000;
  opacity: 0.85;
}

/* Individual placements */
.t1 { top: 10%; left: 15%; transform: rotate(10deg); }
.t2 { top: 30%; left: 60%; transform: rotate(-25deg) scale(1.2); }
.t3 { top: 55%; left: 25%; transform: rotate(40deg) scale(0.8); }
.t4 { top: 20%; left: 80%; transform: rotate(-10deg); }
.t5 { top: 65%; left: 55%; transform: rotate(70deg) scale(1.4); }
