* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background: #fff;
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
}

#canvas {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* Title */
h1 {
  position: absolute;
  bottom: 5%;
  left: 5%;
  font-size: 5vw;
  font-weight: 900;
  text-transform: uppercase;
  z-index: 10;
}

/* Building container */
.building {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

/* Triangle unit */
.triangle {
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 60px solid #000;
  opacity: 0.85;
}

/* Individual building placement */
.b1 { left: 10%; transform: scale(0.9); }
.b2 { left: 30%; transform: scale(1.2); }
.b3 { left: 55%; transform: scale(0.8); }
.b4 { left: 75%; transform: scale(1.1); }
